/*cartel mas el fondo*/
body {
    font-family: Times, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(69, 82, 82); 
    animation: cambiarFondo 8s infinite alternate; 
}
@keyframes cambiarFondo {
    0% {
        background-color: rgb(93, 107, 107); 
    }
    25% {
        background-color: rgb(87, 84, 95);  
    }
    50% {
        background-color: rgb(77, 75, 95); 
    }
    75% {
        background-color: rgb(68, 68, 68); 
    }
    100% {
        background-color: rgb(84, 107, 107); 
    }
}
.cartel {
    position: sticky;
    top: 0;
    left: 0; 
    transform: translateY(-50%);
    width: 60%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    animation: moverCartel 10s linear infinite;
    border: none;
}
.cartel::before {
    content: "¡Compra la moto de tus sueños!";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: rgb(230, 221, 221);
    background-color: rgb(139, 139, 139);
    padding: 50px;
    box-sizing: border-box;
    transform: translateX(-100%);
    border-radius: 0;
    
}

@keyframes moverCartel {
    0% {
        transform: translateX(-50%); 
    }
    50% {
        transform: translateX(10); 
    }
    100% {
        transform: translateX(300%); 
    }
}
/*la galeria, su informacion y el comprar*/
.contenido {
    padding-top: 80px;
    margin: 20px;
}
h1 {
    font-size: 28px;
    color: #000000;
    text-align: center;
    background-color: #ffffff;  
    padding: 10px 20px;  
    border-radius: 20px; 
    display: block;  
    margin: 50px auto;  
    width: 80%;  
    max-width: 600px;  
}
.galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.foto {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.foto img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease; 
}
.foto:hover img {
    transform: scale(1.1); 
}
p {
    font-size: 20px;
    color: #000000;
    text-align: center;
    background-color: #ffffff;  
    padding: 10px 20px;  
    border-radius: 20px; 
    display: block;  
    margin: 50px auto;  
    width: 80%;  
    max-width: 600px;  
}
.comprar {
    display: block; 
    font-size: 20px; 
    padding: 10px 20px; 
    background-color: #f0f0f0; 
    color: rgb(0, 0, 0); 
    text-decoration: none; 
    border-radius: 20px; 
    margin: 50px auto; 
    text-align: center;
    width: 10%;
}
.comprar:hover {
    background-color: #46a55b; 
}
/*pie de pagina*/
footer {
    text-align: center;
    padding: 30px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
  footer a {
    color: red;
    text-decoration: none;
}
  footer a:hover {
    text-decoration: underline;
}
/*estilo del formulario*/
.datos{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.datos form{
        padding: 50px 55px;
        box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
        border-radius: 20px;
        text-align: center;
        width: 340px;
}
.datos .input-group{
        display:flex;
        flex-direction: column;
        text-align: left;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
}
.datos h2{
        color:black;
        font-size: 35px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
}
.datos label{
        color: black;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 15px;
}
.datos input,textarea{
        padding: 17px 25px;
        border-radius: 25px;
        margin-bottom: 20px;
        background-color: azure; 
        border: 2px solid #F0FAF1;
        color: #283629;
}
.datos .verde:hover{
        font-size: 16px;
        color:#ffffff;
        border-color: #51D94C;
        border-radius: 25px;
        background-color: #51D94C;
        box-shadow:  0 0 20px rgb(25, 254, 0, 0.4);
        cursor:pointer;
}
.datos .rojo:hover{
        font-size: 16px;
        color:#ffffff;
        border-color: #ff0000;
        border-radius: 25px;
        background-color: #ff0000;
        box-shadow:  0 0 20px rgb(182, 12, 12);
        cursor:pointer;
}

