/*selector por etiqueta header*/
header{
  box-shadow: 0 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
/*selector combinado descendente*/
header .logo img{
  height: 95px;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}
nav{
  max-height: 900px;
  margin: auto;
  background-color: #333;
  font-size: 15px;
  margin-top: auto;
}
.menu-horizontal{
  list-style: none;
  display: flex;
  justify-content: space-around;

}
.menu-horizontal li a{
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: white  ;
}
.menu-horizontal li:hover{
  background-color: red;
}
.menu-vertical{
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: rgba(0, 0 ,0, .5);
}
.menu-horizontal li:hover .menu-vertical{
  display: block;
}
.menu-vertical li:hover{
  background-color: black;
}
.menu-vertical li a{
  display: block;
  color: white;
  padding: 10px 10px 10px 20px;
}
/*selector combinado descendente*/
/*ordenando el menu*/

/*agregando hover al menu*/
nav ul li a:hover{
  text-decoration: underline red;
}
#inicio{
  /*color: bold;
  height: 100vh;
  display: flex;
  align-items: center;*/
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0 ,0, .3); /* Sombra negra con un poco de difuminado */
  color: red; /* Color del texto */
}
#inicio p{
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); /* Sombra negra con un poco de difuminado */
  color: rgb(0, 0, 0); /* Color del texto */
}
.inicio h1{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.inicio p{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
/*selectores combinado descendente*/
/*creando varios selectores con imagenes*/
.contenido-de-inicio h1{
  font-size: 3rem;
}
.contenido-de-inicio p{
  font-size: 1.5rem;
}
.motos-buscadas h2{
  /*text-align: center;
  color:red;
  box-shadow: 0 0 10px;
  box-sizing: 20px;*/
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0 ,0, .3); /* Sombra negra con un poco de difuminado */
  color: rgba(0, 0, 0, 0.745); /* Color del texto */
}
.motos-buscadas h2{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.wave{
  display: flex;
  width: 600px;
  height: 474px;
  float: left;
}
section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
section img:hover {
  cursor: crosshair;
  width: 500px;
  opacity: 1;
  filter: contrast(120%);
}





























