/*creando el selector por ID*/
#nosotros{
  padding: 50px 20px;
  text-align: center;
  background-color: #f4f4f4;
}
/*selector combinado descendente*/
#nosotros h2{
  font-size: 2.5rem;
}
/*selector combinado descendente*/
#nosotros p{
  max-width: 800px;
  margin:0 auto;
  font-size: 1.2rem;
}
/*selector class*/
/*creando la seccion de serivicios*/
.servicios{
  padding: 50px 20px;
  text-align: center;
  height: 400px;
}
/*selector class*/
.servicios h2{
  font-size: 2.5rem;
}




.servicios h2{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.servicios a{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  padding: 10px 20px;
  text-decoration: none;
  background-color: rgb(135, 211, 157);
  border-radius: 15px;
}
.servicios a:hover{
  box-shadow: 0px 2px  0px #1b221e;
  border-radius: 20px;
 }
.en-cuenta {
  display: flex; 
  justify-content: space-between; 
  margin: 20px; 
}
.en-cuenta p {
  margin: 0; 
  padding: 10px; 
  border: 1px solid #ccc; 
  width: 30%; 
  box-sizing: border-box; 
  border-radius: 50rem;
  box-shadow: 0px 2px  0px #333;
}
.en-cuenta .resaltar{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.en-cuenta .resaltar:hover{
  box-shadow: 0px 2px  0px #1b221e;
  border-radius: 50rem;
  background-color: rgb(135, 211, 157);
}
/*creando diseño contacto*/
/*creando el selector para el formulario*/
/*selector combinado descendente*/
.contacto{
  padding: 50px 20px;
  background-color: #f4f4f4;
  text-align: center;
}
/*selector combinado descendente*/
.contacto form{
 max-width: 400px;
 margin: 0 auto;
}
/*selector combinado descendente*/
.contacto label{
  display: block;
  margin-bottom: 10px;
  font-weight: bold ;

}
/*selector combinado descendente*/
.contacto input, 
.contacto textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/*selector combinado descendente*/
.contacto button{
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer; 
}
/*selector combinado descendente*/
.contacto button:hover{
  background-color: #555;
}
/*creando pie de pagina*/
